<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="title" content="Your title">
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG (Open Graph) meta tags to control how URLs are displayed when shared on social media. -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:type" content="website" /> <!-- Type of object you’re sharing. (e.g., article, website, etc.) -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- A brief description of the content. -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- social meta tag that are exclusively used for Twitter -->

    <!-- Webpage Title -->
    <title>Elite - Business site</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- Font awesome cdn link -->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <!-- ======== Header ======== -->
    <header class="navbar">
        <nav>
            <a href="./index.html" class="logo">
                <!-- for logo image -->
                <img src="./img/logo.jpg" alt="" class="logo-img">
                <!-- for logo text -->
                <span class="logo-text">Elite</span>
            </a> <!-- .logo end -->
            <ul class="nav_lists">
                <li class=""><a href="#service" class="nav-links">Service</a></li>
                <li class=""><a href="#feature" class="nav-links">Feature</a></li>
                <li class=""><a href="pricing.html" class="nav-links">Pricing</a></li>
                <li class=""><a href="pricing.html" class="nav-links">Privacy Policy</a></li>
                <li class="btn-nav">
                    <ul class="nav-icons">
                        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </li> <!-- .btn-nav end -->
            </ul> <!-- ul end -->
            <!-- hamburger-menu-icon -->
            <div class="hamburger">
                <div class="hamburger-icon"></div>
                <div class="hamburger-icon"></div>
            </div> <!-- .hamburger end -->
        </nav> <!-- nav end -->
    </header> <!-- header end -->

    <!-- ======== Hero ======== -->
    <main class="hero">
        <div class="hero-container">
            <div class="hero-content">
                <h1 class="heading-primary">Lorem ipsum dolor sit amet consectetur.
                </h1>
                <p class="text-paragraph-18">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptates
                    tenetur dignissimos saepe quas?</p>
                <button type="button" class="btn btn-primary">Get Started</button>
            </div> <!-- .hero-content end -->
            <div class="hero-img">
                <img src="./img/header.png" alt="">
            </div> <!-- .hero-img end -->
        </div> <!-- .hero-container end -->
    </main> <!-- .hero end -->

    <!-- ======== Service ======== -->
    <section id="service" class="service">
        <h2 class="heading-secondary text-center">Services we provide</h2>
        <div class="service-container">
            <div class="service-card">
                <img src="./img/icon/icon-1.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
            <div class="service-card">
                <img src="./img/icon/icon-2.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
            <div class="service-card">
                <img src="./img/icon/icon-3.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
            <div class="service-card">
                <img src="./img/icon/icon-4.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
            <div class="service-card">
                <img src="./img/icon/icon-5.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
            <div class="service-card">
                <img src="./img/icon/icon-6.png" alt="">
                <h3 class="text-heading-20">A simple heading</h3>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam eligendi
                    tempore temporibus ex.</p>
            </div> <!-- .service-card end -->
        </div> <!-- .service-container end -->
    </section> <!-- .service end -->

    <!-- ======== Showcase - A ======== -->
    <section id="feature" class="showcase showcase-a">
        <div class="showcase-content">
            <h3 class="heading-tertiary">Customer satisfaction is everything</h3>
            <p class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In deleniti officiis
                praesentium aliquid harum alias culpa! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo nobis
                consequatur minima consequuntur id! Eaque! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo
                nobis
                consequatur minima consequuntur id! Eaque!.</p>
            <a href="" class="btn btn-text">Get started <img src="./img/right-arrow.svg" alt=""></a>
        </div> <!-- .showcase-content end -->
        <img src="./img/showcase-a.png" class="showcase-img" alt="">
    </section> <!-- .showcase-a end -->

    <!-- ======== Showcase - B ======== -->
    <section class="showcase showcase-b">
        <img src="./img/showcase-b.png" class="showcase-img" alt="">
        <div class="showcase-content">
            <h3 class="heading-tertiary">Our primary goal</h3>
            <p class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In deleniti officiis
                praesentium aliquid harum alias culpa! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo nobis
                consequatur minima consequuntur id! Eaque! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo
                nobis
                consequatur minima consequuntur id! Eaque!.</p>
            <a href="" class="btn btn-text">Get started <img src="./img/right-arrow.svg" alt=""></a>
        </div> <!-- .showcase-content end -->
    </section> <!-- .showcase-b end -->

    <!-- ======== About us ======== -->
    <section class="about">
        <div class="about-content">
            <h3 class="heading-tertiary">About Our Company</h3>
            <div class="d-flex mb-d-none mt-auto">
                <img src="./img/Play.svg" alt="">
                <h4 class="text-heading-18">A Brief Story About The Company</h4>
            </div>
            <p class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In deleniti officiis
                praesentium aliquid harum alias culpa! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo nobis
                consequatur minima consequuntur id! Eaque! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo
                nobis
                consequatur minima consequuntur id! Eaque!.</p>
        </div> <!-- .about-content end -->
        <img src="./img/our-company.jpg" class="about-img" alt="">
    </section> <!-- .about end -->

    <!-- ======== Team us ======== -->
    <section class="team">
        <div class="team-images">
            <div class="team_wrapper">
                <div class="team-img">
                    <div class="team-img_overlay"></div>
                    <span class="team-img-number team-img-number-1">01</span>
                    <img src="./img/team-1.jpg" alt="">
                    <div class="team-img_content">
                        <h4 class="text-heading-16 text-white">Neha Rahul</h4>
                        <p class="text-paragraph-16 text-white">CEO</p>
                    </div> <!-- .team-img_content end -->
                </div> <!-- .team-img end -->
                <div class="team-img">
                    <div class="team-img_overlay"></div>
                    <span class="team-img-number team-img-number-2">02</span>
                    <img src="./img/team-2.jpg" alt="">
                    <div class="team-img_content">
                        <h4 class="text-heading-16 text-white">Neha Rahul</h4>
                        <p class="text-paragraph-16 text-white">CEO</p>
                    </div> <!-- .team-img_content end -->
                </div> <!-- .team-img end -->
            </div> <!-- .team_wrapper end -->
            <div class="team_wrapper">
                <div class="team-img">
                    <div class="team-img_overlay"></div>
                    <span class="team-img-number team-img-number-3">03</span>
                    <img src="./img/team-3.jpg" alt="">
                    <div class="team-img_content">
                        <h4 class="text-heading-16 text-white">Neha Rahul</h4>
                        <p class="text-paragraph-16 text-white">CEO</p>
                    </div> <!-- .team-img_content end -->
                </div> <!-- .team-img end -->
                <div class="team-img">
                    <div class="team-img_overlay"></div>
                    <span class="team-img-number team-img-number-4">04</span>
                    <img src="./img/team-4.jpg" alt="">
                    <div class="team-img_content">
                        <h4 class="text-heading-16 text-white">Neha Rahul</h4>
                        <p class="text-paragraph-16 text-white">CEO</p>
                    </div> <!-- .team-img_content end -->
                </div><!-- .team-img end -->
            </div> <!-- .team_wrapper end -->
        </div>
        <div class="team-content">
            <h3 class="heading-tertiary">Our Team</h3>
            <div class="d-flex mb-d-none mt-auto">
                <img src="./img/Play.svg" alt="">
                <h4 class="text-heading-18">A Brief Story team The Company</h4>
            </div>
            <p class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In deleniti officiis
                praesentium aliquid harum alias culpa! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo nobis
                consequatur minima consequuntur id! Eaque! Laboriosam eveniet qui in repellendus iusto, nesciunt nemo
                nobis
                consequatur minima consequuntur id! Eaque!.</p>
        </div> <!-- .team-content end -->
    </section> <!-- .team end -->

    <!-- ======== testimonial ======== -->
    <section class="testimonial">
        <h2 class="heading-secondary text-center">What our clients say!</h2>
        <div class="testimonial-cards">
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-1.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-2.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-3.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-4.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <!-- Note :  The .testimonial-card must occur twice in order for the infinite scroll illusion to work -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-1.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-2.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-3.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-cards end -->
            <div class="testimonial-card">
                <div class="testimonial-card-info">
                    <img src="./img/testi-4.jpg" alt="">
                    <h4 class="text-heading-20">Hello World</h4>
                </div> <!-- .testimonial-card-info end -->
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    veritatis, dolores error odio voluptas.</p>
            </div> <!-- .testimonial-card end -->
        </div> <!-- .testimonial-cards end -->
    </section> <!-- .testimonial end -->

    <!-- ======== Cta ======== -->
    <section class="cta">
        <div class="cta-container">
            <h2 class="heading-secondary text-white">Lorem ipsum dolor sit amet consectetur.</h2>
            <p class="text-paragraph-16 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non
                explicabo quis
                vitae nam ipsa nostrum nesciunt, perferendis quasi.</p>
            <a href="" class="btn btn-cta">Call to action</a>
        </div> <!-- .cta-container end -->
    </section> <!-- .cta end -->

    <!-- ======== Contact ======== -->
    <section class="contact">
        <div class="contact-content">

            <h3 class="heading-secondary">Contact Us</h3>
            <p class="text-paragraph-16">Fill us the form and out team will get back to you within 24 hours.</p>
            <form class="form">
                <div class="form_control form_control-col">
                    <div class="form_control">
                        <label for="name" class="text-paragraph-16 form_label">First Name</label>
                        <input type="text" id="name" class="text-paragraph-16 form_input" required>
                    </div>
                    <div class="form_control">
                        <label for="lastname" class="text-paragraph-16 form_label">Last Name</label>
                        <input type="text" id="lastname" class="text-paragraph-16 form_input" required>
                    </div>
                </div> <!-- .form_control-col end -->
                <div class="form_control">
                    <label for="email" class="text-paragraph-16 form_label">Email</label>
                    <input type="email" id="email" class="text-paragraph-16 form_input" required>
                </div> <!-- .form_control end -->
                <div class="form_control">
                    <label for="textarea" class="text-paragraph-16 form_label">Message</label>
                    <textarea name="textarea" id="textarea" class="text-paragraph-16 form_input" required cols="30"
                        rows="3"></textarea>
                </div> <!-- .form_control end -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form> <!-- form end -->
        </div> <!-- .contact-content end -->
        <!-- <img src="./img/contact.jpg" alt="" class="contact-img"> -->
        <iframe src="//maps.google.com/maps?q=53.3381768,-6.2613077&z=15&output=embed" class="contact-map"></iframe>
    </section> <!-- .contact end -->

    <!-- ======== Footer ======== -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer_col_1">
                <a href="" class="footer_logo text-heading-18">Elite</a>
                <p class="text-paragraph-16">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem eius</p>
                <ul class="footer_icons">
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul> <!-- ul end -->
            </div> <!-- .form_col_1 end -->
            <div class="footer_col_2">
                <ul class="footer_list">
                    <li class="footer_list_main text-heading-16">Solutions</li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Marketing</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Analytics</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Commerce</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Insights</a></li>
                </ul> <!-- .footer_list end -->
                <ul class="footer_list">
                    <li class="footer_list_main text-heading-16">Support</li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Pricing</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Documentation</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Guide</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Api Status</a></li>
                </ul> <!-- .footer_list end -->
                <ul class="footer_list">
                    <li class="footer_list_main text-heading-16">Company</li>
                    <li><a href="" class="footer_list_main_text text-heading-16">About</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Features</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Services</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Testimonial</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Portfolio</a></li>
                </ul> <!-- .footer_list end -->
                <ul class="footer_list">
                    <li class="footer_list_main text-heading-16">Legal</li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Claim</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Privacy</a></li>
                    <li><a href="" class="footer_list_main_text text-heading-16">Terms</a></li>
                </ul> <!-- .footer_list end -->
            </div> <!-- .footer_col_2 end -->
        </div> <!-- .form_container end -->
        <hr class="footer_hr">
        <p class="text-heading-16 text-center">Copyright &copy;<span id="year"></span> , All right reserved</p>
    </footer> <!-- .footer end -->

    <!-- ======= Back to top ======= -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img src="./img/arrow-up.svg"
            alt=""></a>

    <!-- scripts file -->
    <script src="./js/app.js"></script> <!-- custom script -->
</body>

</html>