<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="title" content="Your title">
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG (Open Graph) meta tags to control how URLs are displayed when shared on social media. -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:type" content="website" /> <!-- Type of object you’re sharing. (e.g., article, website, etc.) -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- A brief description of the content. -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- social meta tag that are exclusively used for Twitter -->

    <!-- Webpage Title -->
    <title>HubCopy. - Marketing site</title>

    <!-- styles -->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <!-- ======= Navigation ======= -->
    <main class="navbar">
        <nav>
            <a href="/index.html" class="logo">
                <img src="./img/logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="./index.html" class="nav-links nav-links_active">Home</a></li>
                <li><a href="./blog.html" class="nav-links">Blog</a></li>
                <li><a href="./pricing.html" class="nav-links">Pricing</a></li>
                <li><a href="./privacy_policy.html" class="nav-links">Privacy Policy</a></li>
            </ul>
            <!-- hamburger-menu-icon -->
            <div class="hamburger">
                <div class="hamburger-icon"></div>
                <div class="hamburger-icon"></div>
            </div>
        </nav>
    </main> <!-- .navbar end -->

    <!-- ======= Header ======= -->
    <header class="header">
        <main class="header-container">
            <div class="header_content">
                <h1 class="heading-primary">
                    <span class="heading_span_1">The future of </span><br>
                    <span class="heading_span_2">storytelling is</span><br>
                    <span class="heading_span_3 type-animation"></span>
                </h1>
                <p class="text-paragraph-18">Fast, interactive presentations that are effortlessly beautiful. For
                    founders,
                    modern teams and the world’s best storytellers.</p>
                <a href="" class="btn btn-primary">Get in touch</a>
            </div> <!-- .header-container end -->
            <div class="header_img">
                <img src="./img/header.svg" alt="">
            </div> <!-- .header-img end -->
        </main>
    </header> <!-- .header end -->

    <!-- ======= Stats ======= -->
    <main class="stats">
        <section class="stats-container">
            <div class="stats_card stats_card_1">
                <p class="text-paragraph-18">
                    131
                </p>
                <h3 class="heading-tertiary">Landing Pages</h3>
            </div> <!-- .stats_card_1 end -->
            <div class="stats_card stats_card_2">
                <p class="text-paragraph-18">
                    150
                </p>
                <h3 class="heading-tertiary">Newslatter</h3>
            </div> <!-- .stats_card_2 end -->
            <div class="stats_card stats_card_3">
                <p class="text-paragraph-18">
                    200
                </p>
                <h3 class="heading-tertiary">Product Descriptions</h3>
            </div> <!-- .stats_card_3 end -->
            <div class="stats_card stats_card_4">
                <p class="text-paragraph-18">
                    121
                </p>
                <h3 class="heading-tertiary">Technical Writing</h3>
            </div> <!-- .stats_card_4 end -->
        </section> <!-- .stats-container end -->
    </main> <!-- .stats end -->

    <!-- ======= Showcase-1 ======= -->
    <main class="showcase showcase_1">
        <div class="showcase-container">
            <div class="showcase_content">
                <h2 class="heading-secondary">Skip the design
                    guesswork</h2>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi
                    eius non tempore ipsum suscipit soluta magnam sit at omnis earum exercitationem velit quis,
                    aspernatur facere laboriosam a quos tenetur quas pariatur optio et vitae inventore! Nesciunt tempora
                    sunt architecto consequatur, facere ratione suscipit modi.</p>
            </div> <!-- .showcase_content end -->
            <img src="./img/showcase-1.svg" alt="" class="showcase_img">
        </div> <!-- .showcase-container end -->
    </main> <!-- .showcase_1 end -->

    <!-- ======= Showcase-2 ======= -->
    <main class="showcase showcase_2">
        <div class="showcase-container">
            <div class="showcase_content">
                <h2 class="heading-secondary">Engage in conversations</h2>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi
                    eius non tempore ipsum suscipit soluta magnam sit at omnis earum exercitationem velit quis,
                    aspernatur facere laboriosam a quos tenetur quas pariatur optio et vitae inventore! Nesciunt tempora
                    sunt architecto consequatur, facere ratione suscipit modi.</p>
            </div> <!-- .showcase_content end -->
            <img src="./img/showcase-2.svg" alt="" class="showcase_img">
        </div> <!-- .showcase-container end -->
    </main> <!-- .showcase_2 end -->

    <!-- ======= Showcase-3 ======= -->
    <main class="showcase showcase_3">
        <div class="showcase-container">
            <div class="showcase_content">
                <h2 class="heading-secondary">Creative Copywriting Agency for Brands with Brains</h2>
                <p class="text-paragraph-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi
                    eius non tempore ipsum suscipit soluta magnam sit at omnis earum exercitationem velit quis,
                    aspernatur facere laboriosam a quos tenetur quas pariatur optio et vitae inventore! Nesciunt tempora
                    sunt architecto consequatur, facere ratione suscipit modi.</p>
            </div> <!-- .showcase_content end -->
            <img src="./img/showcase-3.svg" alt="" class="showcase_img">
        </div> <!-- .showcase-container end -->
    </main> <!-- .showcase_3 end -->

    <!-- ======= Cards ======= -->
    <main class="cards">
        <div class="cards-container">
            <div class="card card_1">
                <img src="./img/card-icon-1.svg" class="card_img" alt="">
                <h3 class="heading-tertiary card_heading">Analyze</h3>
                <p class="text-paragraph-16 card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                    nesciunt.
                </p>
                <a href="" class="card_text_link">Learn More</a>
            </div> <!-- .card-1 end -->
            <div class="card card_2">
                <img src="./img/card-icon-2.svg" class="card_img" alt="">
                <h3 class="heading-tertiary card_heading">Explore</h3>
                <p class="text-paragraph-16 card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                    nesciunt.
                </p>
                <a href="" class="card_text_link">Learn More</a>
            </div> <!-- .card-2 end -->
            <div class="card card_3">
                <img src="./img/card-icon-3.svg" class="card_img" alt="">
                <h3 class="heading-tertiary card_heading">Creative</h3>
                <p class="text-paragraph-16 card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                    nesciunt.
                </p>
                <a href="" class="card_text_link">Learn More</a>
            </div> <!-- .card-3 end -->
        </div> <!-- .cards-container end -->
    </main> <!-- .cards end -->

    <!-- ======= CTA ======= -->
    <main class="cta">
        <h2 class="heading-secondary">Backed by the best</h2>
        <p class="text-paragraph-16">Our investors and advisors have played a pivotal role in <br class="cta_mb_br">
            building some of our
            favourite products at</p>
        <div class="cta_brand">
            <img src="./img/brands/image-1.png" class="cta_brand_img" alt="">
            <img src="./img/brands/image-2.png" class="cta_brand_img" alt="">
            <img src="./img/brands/image-3.png" class="cta_brand_img" alt="">
            <img src="./img/brands/image-4.png" class="cta_brand_img" alt="">
            <img src="./img/brands/image-5.png" class="cta_brand_img" alt="">
            <img src="./img/brands/image-6.png" class="cta_brand_img" alt="">
        </div> <!-- .cta_brand end -->
    </main> <!-- .cta end -->

    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="footer-container">
            <a href="" class="logo">
                <img src="./img/footer-logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="" class="footer-links">Features</a></li>
                <li><a href="" class="footer-links">Blog</a></li>
                <li><a href="" class="footer-links">Pricing</a></li>
                <li><a href="" class="footer-links">Privacy Policy</a></li>
                <li class="footer-links">&copy;<span id="year"></span> HubCopy.</li>
                </li>
            </ul>
        </div>
    </footer> <!-- .footer end -->


    <!-- ======= Back to top ======= -->
    <a href="#" class="back-to-top"><img src="/img/arrow-up.svg" alt=""></a>

    <!-- scripts -->
    <script src="./js/type-animation.js"></script> <!-- scripts for typing animation -->
    <script>
        window.ityped.init(document.querySelector('.type-animation'), {
            strings: ['delightful', 'simple'],
            loop: true,
            typeSpeed: 150,
        })
    </script>
    <script src="./js/app.js"></script> <!-- custom script -->
</body>

</html>