<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="title" content="Your title">
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG (Open Graph) meta tags to control how URLs are displayed when shared on social media. -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:type" content="website" /> <!-- Type of object you’re sharing. (e.g., article, website, etc.) -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- A brief description of the content. -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- social meta tag that are exclusively used for Twitter -->

    <!-- Webpage Title -->
    <title>HubCopy. - Pricing</title>

    <!-- styles -->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <!-- ======= Navigation ======= -->
    <main class="navbar">
        <nav>
            <a href="./index.html" class="logo">
                <img src="./img/logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="./index.html" class="nav-links">Home</a></li>
                <li><a href="./blog.html" class="nav-links">Blog</a></li>
                <li><a href="./pricing.html" class="nav-links nav-links_active">Pricing</a></li>
                <li><a href="./privacy_policy.html" class="nav-links">Privacy Policy</a></li>
            </ul>
            <!-- hamburger-menu-icon -->
            <div class="hamburger">
                <div class="hamburger-icon"></div>
                <div class="hamburger-icon"></div>
            </div>
        </nav> <!-- nav end -->
    </main> <!-- .navbar end -->

    <!-- ======= Pricing ======= -->
    <main class="pricing">
        <div class="pricing_heading">
            <h1 class="heading-primary">Pricing Plan</h1>
            <p class="text-paragraph-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Rerum, rem!
                Dicta nam
                totam eum.</p>
        </div> <!-- pricing_heading end -->
        <section class="pricing-container">
            <div class="pricing_card pricing_card_1 ">
                <div class="pricing_card_info">
                    <img src="./img/user.svg" alt="">
                    <div class="pricing_card_info_detail">
                        <h3 class="heading-tertiary">Personal</h3>
                        <p class="text-paragraph-16">2 License</p>
                    </div>
                </div> <!-- ."pricing_card_info end -->
                <ul>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">10 Landing Page</span></li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">15 Newslatter</span></li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">10 Product Descriptions</span>
                    </li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">10 Technical Writing</span>
                    </li>
                </ul>
                <div class="underline"></div>
                <h3 class="heading-secondary price-text">$99</h3>
                <a href="" class="btn btn-primary btn-pricing">Purchase</a>
            </div> <!-- .pricing_card_1 end -->
            <div class="pricing_card pricing_card_2">
                <div class="pricing_card_info">
                    <img src="./img/users.svg" alt="">
                    <div class="pricing_card_info_detail">
                        <h3 class="heading-tertiary">Business</h3>
                        <p class="text-paragraph-16">5 License</p>
                    </div>
                </div> <!-- ."pricing_card_info end -->
                <ul>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">50 Landing Page</span></li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">150 Newslatter</span></li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">50 Product Descriptions</span>
                    </li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">50 Technical Writing</span>
                    </li>
                </ul>
                <div class="underline"></div>
                <h3 class="heading-secondary price-text">$299</h3>
                <a href="" class="btn btn-primary btn-pricing">Purchase</a>
            </div> <!-- .pricing_card_2 end -->
            <div class="pricing_card pricing_card_3">
                <div class="pricing_card_info">
                    <img src="./img/group.svg" alt="">
                    <div class="pricing_card_info_detail">
                        <h3 class="heading-tertiary">Commercial</h3>
                        <p class="text-paragraph-16">10+ License</p>
                    </div>
                </div> <!-- ."pricing_card_info end -->
                <ul>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">250 Landing Page</span>
                    </li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">250 Newslatter</span>
                    </li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">90 Product
                            Descriptions</span>
                    </li>
                    <li><img src="./img/tick.svg" alt=""><span class="text-paragraph-16">250 Technical
                            Writing</span>
                    </li>
                </ul>
                <div class="underline"></div>
                <h3 class="heading-secondary price-text">$499</h3>
                <a href="" class="btn btn-primary btn-pricing">Purchase</a>
            </div> <!-- .pricing_card_3 end -->
        </section> <!-- .pricing-container end -->
    </main> <!-- .pricing end -->

    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="footer-container">
            <a href="" class="logo">
                <img src="./img/footer-logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="" class="footer-links">Features</a></li>
                <li><a href="" class="footer-links">Blog</a></li>
                <li><a href="" class="footer-links">Pricing</a></li>
                <li><a href="" class="footer-links">Privacy Policy</a></li>
                <li class="footer-links">&copy;<span id="year"></span> HubCopy.</li>
                </li>
            </ul>
        </div>
    </footer>

    <!-- ======= Back to top ======= -->
    <a href="#" class="back-to-top"><img src="/img/arrow-up.svg" alt=""></a>

    <script src="./js/app.js"></script>
</body>

</html>