<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="title" content="Your title">
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG (Open Graph) meta tags to control how URLs are displayed when shared on social media. -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:type" content="website" /> <!-- Type of object you’re sharing. (e.g., article, website, etc.) -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- A brief description of the content. -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- social meta tag that are exclusively used for Twitter -->

    <!-- Webpage Title -->
    <title>HubCopy. - Privacy Policy</title>

    <!-- styles -->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <!-- ======= Navigation ======= -->
    <main class="navbar">
        <nav>
            <a href="./index.html" class="logo">
                <img src="./img/logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="./index.html" class="nav-links">Home</a></li>
                <li><a href="./blog.html" class="nav-links">Blog</a></li>
                <li><a href="./pricing.html" class="nav-links">Pricing</a></li>
                <li><a href="./privacy_policy.html" class="nav-links nav-links_active">Privacy Policy</a></li>
            </ul>
            <!-- hamburger-menu-icon -->
            <div class="hamburger">
                <div class="hamburger-icon"></div>
                <div class="hamburger-icon"></div>
            </div>
        </nav> <!-- nav end -->
    </main> <!-- .navbar end -->

    <!-- ======= Privacy Policy ======= -->
    <main class="policy">
        <section class="policy-header">
            <div class="policy-header-container">
                <div class="policy-header_heading">
                    <h1 class="heading-primary">Privacy Policy</h1>
                    <p class="text-paragraph-18">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <img src="./img/policy.svg" class="policy-header_img" alt="">
            </div>
        </section> <!-- .policy-header end -->
        <section class="policy-container">
            <div class="policy-content">
                <h2 class="heading-secondary">1. Lorem ipsum dolor sit amet.</h2>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus pariatur
                    velit
                    rerum voluptas quas! In. Lorem ipsum dolor sit amet.</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">1.1 Lorem ipsum dolor sit amet.</h3>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur
                    consectetur placeat ratione voluptatibus ab fugiat, rerum aperiam deleniti quasi. Beatae, totam
                    fuga! Tenetur libero obcaecati inventore earum quis hic!</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">1.2 Lorem ipsum dolor sit amet.</h3>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur
                    consectetur placeat ratione voluptatibus ab fugiat, rerum aperiam deleniti quasi. Beatae, totam
                    fuga! Tenetur libero obcaecati inventore earum quis hic!</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h2 class="heading-secondary">2. Lorem ipsum dolor sit amet.</h2>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus pariatur
                    velit
                    rerum voluptas quas! In. Lorem ipsum dolor sit amet.</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">2.1 Lorem ipsum dolor sit amet.</h3>
                <ul style="list-style-type: disc;">
                    <li class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li class="text-paragraph-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                </ul>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">2.2 Lorem ipsum dolor sit amet.</h3>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur
                    consectetur placeat ratione voluptatibus ab fugiat, rerum aperiam deleniti quasi. Beatae, totam
                    fuga! Tenetur libero obcaecati inventore earum quis hic!</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h2 class="heading-secondary">3. Lorem ipsum dolor sit amet.</h2>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus pariatur
                    velit
                    rerum voluptas quas! In. Lorem ipsum dolor sit amet.</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">3.1 Lorem ipsum dolor sit amet.</h3>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur
                    consectetur placeat ratione voluptatibus ab fugiat, rerum aperiam deleniti quasi. Beatae, totam
                    fuga! Tenetur libero obcaecati inventore earum quis hic!</p>
            </div> <!-- .policy-content end -->
            <div class="policy-content">
                <h3 class="heading-tertiary">3.2 Lorem ipsum dolor sit amet.</h3>
                <p class="text-paragraph-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur
                    consectetur placeat ratione voluptatibus ab fugiat, rerum aperiam deleniti quasi. Beatae, totam
                    fuga! Tenetur libero obcaecati inventore earum quis hic!</p>
            </div>
        </section> <!-- .policy-container end -->
    </main>

    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="footer-container">
            <a href="" class="logo">
                <img src="./img/footer-logo.svg" alt="" class="logo-img">
                <span class="logo-text">HubCopy.</span>
            </a>
            <ul>
                <li><a href="" class="footer-links">Features</a></li>
                <li><a href="" class="footer-links">Blog</a></li>
                <li><a href="" class="footer-links">Pricing</a></li>
                <li><a href="" class="footer-links">Privacy Policy</a></li>
                <li class="footer-links">&copy;<span id="year"></span> HubCopy.</li>
                </li>
            </ul>
        </div> <!-- .footer-contaienr end -->
    </footer> <!-- .footer end -->

    <!-- ======= Back to top ======= -->
    <a href="#" class="back-to-top"><img src="/img/arrow-up.svg" alt=""></a>

    <!-- scripts -->
    <script src="./js/app.js"></script>
</body>

</html>