<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="title" content="Your title">
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG (Open Graph) meta tags to control how URLs are displayed when shared on social media. -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:type" content="website" /> <!-- Type of object you’re sharing. (e.g., article, website, etc.) -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- A brief description of the content. -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- social meta tag that are exclusively used for Twitter -->

    <!-- Webpage Title -->
    <title>HeadPhone - Product Landing Page </title>

    <!-- styles -->
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <!-- ======== Header ======== -->
    <header class="header">
        <h4 class="logo">HeadPhone.</h4>
        <div class="header-container">
            <div class="header-content">
                <h1 class="heading-primary">
                    What’s your main value
                    proposition ?
                </h1>
                <div class="header-points">
                    <div class="header-point">
                        <img src="./assets/checkmark.svg" alt="">
                        <p class="primary-text">Luxurious protein cushion ensures that you can wear the device all day
                            long, without any discomfort.</p>
                    </div> <!-- .header-point end -->
                    <div class="header-point">
                        <img src="./assets/checkmark.svg" alt="">
                        <p class="primary-text">Get ready to flip through your favourite playlist or finish that latest
                            series with just 10 mins of charge.</p>
                    </div> <!-- .header-point end -->
                    <div class="header-point">
                        <img src="./assets/checkmark.svg" alt="">
                        <p class="primary-text">The over-ear cushions are so comfortable that total listening experience
                            gets accentuated another level.</p>
                    </div> <!-- .header-point end -->
                </div> <!-- .header-points end -->
                <div class="header-btns">
                    <a href="" class="btn btn-outline">Our Story</a>
                    <a href="" class="btn btn-primary">Order Now</a>
                </div> <!-- .header-btns end -->
            </div> <!-- .header-content end -->
            <div class="header-img">
                <img src="./assets/img-1.png" alt="" />
            </div> <!-- .header-img end -->
        </div> <!-- .header-container end -->
    </header> <!-- .header end -->

    <!-- ======== Feature ======== -->
    <section class="feature">
        <h1 class="heading-secondary">Product Feature</h1>
        <div class="feature-container">
            <div class="item">
                <img src="./assets/wifi.png" alt="">
                <h3 class="heading-tertiary">Wireless</h3>
                <p class="text-paragraph">Like a wireless life the advanced BT 5.0 technology and wired connectivity
                    with AUX.</p>
            </div> <!-- .item end -->
            <div class="item">
                <img src="./assets/speaker.png" alt="">
                <h3 class="heading-tertiary">Noice Cancelling</h3>
                <p class="text-paragraph"> Noise cancelling headphones are designed to prevent you from hearing ambient
                    noise.</p>
            </div> <!-- .item end -->
            <div class="item">
                <img src="./assets/charging.png" alt="">
                <h3 class="heading-tertiary">Fast Charging</h3>
                <p class="text-paragraph">Never let a low battery interrupt your binge plans. Charge for 10 minutes,
                    Enjoy 8 hours.</p>
            </div> <!-- .item end -->
        </div> <!-- .showcase-container end -->
    </section> <!-- .feature end -->

    <!-- ======== Showcase - A ======== -->
    <section class="showcase">
        <div class="showcase-container">
            <div class="showcase-img">
                <img src="./assets/img-2.png" alt="">
            </div> <!-- .showcase-img end -->
            <div class="showcase-content">
                <h1 class="heading-secondary">How Headphone Makes Me Feel Good</h1>
                <p class="text-paragraph">
                    Bring convenience home by seamlessly controlling your music with its Smooth Integrated Controls that
                    allow you to change the track, increase or decrease the volume, and stop the music. There is no up
                    or down orientation so it works regardless of which way we plug it in.
                </p>
            </div> <!-- .showcase-content end -->
        </div> <!-- .showcase-container end -->
    </section> <!-- .showcase end -->

    <!-- ======== Showcase - B ======== -->
    <section class="showcase showcase-bg">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1 class="heading-secondary">The Headphone Mystery Revealed</h1>
                <p class="text-paragraph">
                    Bring convenience home by seamlessly controlling your music with its Smooth Integrated Controls that
                    allow you to change the track, increase or decrease the volume, and stop the music. There is no up
                    or down orientation so it works regardless of which way we plug it in.
                </p>
            </div> <!-- .showcase-content end -->
            <div class="showcase-img">
                <img src="./assets/img-3.png" alt="">
            </div> <!-- .showcase-img end -->
        </div> <!-- .showcase-container end -->
    </section> <!-- .showcase end -->

    <!-- ======== Pricing ======== -->
    <section class="pricing">
        <h1 class="heading-secondary">Here is why you should buy right now!!</h1>
        <div class="pricing-container">
            <div class="price-box">
                <h1 class="price">$99</h1>
                <p class="text-paragraph">*Shiping cost included</p>
                <a href="" class="btn btn-outline">Buy Now</a>
            </div> <!-- .pricing-box end -->
            <div class="pricing-content">
                <h3 class="heading-tertiary">Here is the reason</h3>
                <p class="text-paragraph">There is no up or down orientation so it works regardless of which way we plug
                    it in. Bring convenience home by seamlessly controlling your music with its Smooth Integrated
                    Controls that allow you to change the track, increase or decrease the volume, and stop the music.
                    There is no up or down orientation so it works regardless of which way we plug it in.</p>
            </div> <!-- .pricing-content end -->
        </div> <!-- .pricing-container end -->
    </section> <!-- .pricing end -->

    <!-- ======== Testimonial ======== -->
    <section class="testimonial">
        <div class="testimonial-container">
            <div class="testimonial-card">
                <img src="./assets/testi-1.png" alt="">
                <p class="text-paragraph"><b>&ldquo;</b> They work <b>perfectly</b> and I'm very <b>pleased</b> with the
                    decision to get these. Thanks for a <b>great product!</b> <b>&rdquo;</b></p>
                <div class="rating">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/start-half-fill.svg" alt="">
                    <img src="./assets/Star.svg" alt="">
                </div> <!-- .rating end -->
            </div> <!-- .testimonial-card end -->
            <div class="testimonial-card">
                <img src="./assets/testi-2.png" alt="">
                <p class="text-paragraph"><b>&ldquo;</b> They work <b>perfectly</b> and I'm very <b>pleased</b> with the
                    decision to get these. Thanks for a <b>great product!</b> <b>&rdquo;</b></p>
                <div class="rating">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/start-half-fill.svg" alt="">
                    <img src="./assets/Star.svg" alt="">
                </div> <!-- .rating end -->
            </div> <!-- .testimonial-card end -->
            <div class="testimonial-card">
                <img src="./assets/testi-3.png" alt="">
                <p class="text-paragraph"><b>&ldquo;</b> They work <b>perfectly</b> and I'm very <b>pleased</b> with the
                    decision to get these. Thanks for a <b>great product!</b> <b>&rdquo;</b></p>
                <div class="rating">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star-fill.svg" alt="">
                    <img src="./assets/Star.svg" alt="">
                </div> <!-- .rating end -->
            </div> <!-- .testimonial-card end -->
        </div> <!-- .testimonial-container end -->
    </section> <!-- .testimonial end -->

    <!-- ======== Final - cta ======== -->
    <section class="final-cta">
        <div class="final-cta-container">
            <div class="final-cta-container">
                <div class="final-cta-content">
                    <h1 class="heading-primary">
                        The ultimate deal on headphone
                    </h1>
                    <p class="text-paragraph">Charge only for 10 minutes and listen to blissful audio for 10 hours! With
                        ASAP Fast Charge, guess who will be your binge-watching partner from now? </p>
                    <div class="final-cta-btns">
                        <a href="" class="btn btn-outline">Our Story</a>
                        <a href="" class="btn btn-primary">Order Now</a>
                    </div>
                </div> <!-- .final-cta-content end -->
                <div class="final-cta-img">
                    <img src="./assets/headphone.png" alt="" />
                </div> <!-- .final-cta-img end -->
            </div> <!-- .final-cta-container end -->
        </div> <!-- .final-cta-container end -->
    </section> <!-- .final-cta end -->

    <!-- ======== Footer ======== -->
    <div class="footer">
        <p class="text-paragraph">Design & Code by <a href="https://twitter.com/_niikhil">Nikhil</a>, Copyright
            &copy;2022 All Right Reserved</p>
    </div> <!-- .footer end -->

    <!-- scripts -->
    <!-- No Js Code  lol..😂 -->
</body>

</html>